@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

@layer base {
  body {
    @apply bg-light-mode text-black font-montserrat; /* Default light mode styles */
  }

  .dark body {
    @apply bg-dark-mode text-white font-montserrat; /* Dark mode styles */
  }
}


input:-webkit-autofill, input:-webkit-autofill:focus {
  background-color: #4b5563 !important;
  color: #ffffff !important;
  transition: background-color 1000s ease-in-out 0s, color 1000s ease-in-out 0s;
}

input:focus {
  outline: none;
  box-shadow: none;
}


/* Css code for Loader */

.loading {
  --speed-of-animation: 0.9s;
  --gap: 6px;
  --first-color: #4c86f9;
  --second-color: #49a84c;
  --third-color: #f6bb02;
  --fourth-color: #f6bb02;
  --fifth-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 20px;
 }
 
 .loading span {
  width: 4px;
  height: 50px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.6s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.5s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }



 /* Custom Scrollbar */

/* Light Mode (default mode when 'dark' class is not applied) */
::-webkit-scrollbar {
  width: 8px; /* Set the width for vertical scrollbar */
  height: 8px; /* Set the height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,123,0.8); /* Thumb color for light mode */
  border-radius: 10px; /* Rounded thumb */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05); /* Track color for light mode */
}

/* Dark Mode */
.dark ::-webkit-scrollbar {
  width: 8px; /* Set the width for vertical scrollbar */
  height: 8px; /* Set the height for horizontal scrollbar */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* Thumb color for dark mode */
  border-radius: 10px; /* Rounded thumb */
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1); /* Track color for dark mode */
}





/* CSS code for the theme shift or toggle on the navbar */

/* 
.toggle {
  position: relative;
  height: 40px;
  width: 40px;
}

.toggle:before {
  box-shadow: 0;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  opacity: 0.2;
  height: 24px;
  width: 24px;
  left: 50%;
  top: 50%;
}

.toggle input:checked ~ .label {
  color: rgba(255, 0, 0, 0.8);
}

.toggle .button {
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5),
    inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 3px 4px -1px rgba(255, 255, 255, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.8),
    inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  margin-left: -17px;
  margin-top: -17px;
  display: block;
  height: 34px;
  width: 34px;
  left: 50%;
  top: 50%;
}

.toggle .label {
  transition: color 300ms ease-out;
  line-height: 40px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  display: block;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
}

.toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.toggle input:active ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 12px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 25px 0 rgba(0, 0, 0, 0.4),
    inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:active ~ .label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.toggle input:checked ~ .button {
  filter: blur(0.5px);
  box-shadow: 0 10px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9),
    0 -10px 15px -1px rgba(255, 255, 255, 0.6),
    inset 0 8px 20px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.toggle input:checked ~ .label {
  color: rgba(0, 0, 0, 0.8);
} */


